.faves-page {
    padding: 20px
  }
  
  .fave-blog {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .fave-blog h2{
    font-style: italic;
    margin-top: 0;
    color: salmon;
    
  }
  
  .fave-blog p {
    margin-bottom: 15px;
  }