.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-form,
  .create-acct, .subbie-form, .blog {
    width: 300px;
    padding: 20px;
    border: 1px solid salmon;
    background-color: bisque;
    border-radius: 5px;
    margin: 20px;
  }
  
  .login-form h2,
  .create-acct h2, .subbie-form h2, .blog h2 {
    text-align: center;
  }
  
  .login-form div,
  .create-acct div, .subbie-form div, .blog div{
    margin-bottom: 10px;
  }
  
  .login-form label,
  .create-acct label, .subbie-form label, .blog label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input,
  .create-acct input, .subbie-form input, .blog input {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  .login-form button,
  .create-acct button, .subbie-form button, .blog button, .go-back{
    width: 100%;
    padding: 10px;
    background-color: tan;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover, .go-back:hover,
  .create-acct button:hover, .subbie-form button:hover, .blog button:hover {
    background-color: salmon;
  }
  
  .divider {
    margin: 0 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: salmon;
  }

  .required-star {
    color: red;
    margin-left: 5px;
  }